<div class="container-fluid" id="banniere-actus" style="
background: linear-gradient(45deg, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%), url(/backgrounds/{{ general.banniereActus }});
background-size: cover;
background-position: center;
background-attachment: fixed;">
    <div class="row d-flex justify-content-center">
        <h2 class="text-center" style="margin-bottom: 80px;">Dernières actualités</h2>
        <div class="col d-flex justify-content-center">
        {% for actu in actus %}
            <div class="carte">
                <div class="carte-image">
                    <img src="images/{{ actu.image }}" alt="image">
                </div>
                <div class="carte-texte d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">{{ actu.titre }}</h3>
                    <a href="{{ path('show', {'id':actu.id}) }}" class="btn btn-primary">VOIR</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>