<div class="container-fluid" id="banniere-reseaux">
	<div class="row d-flex justify-content-center">
		<div class="col d-flex justify-content-center">
			<h2 class="text-center">Retrouvez La Belle Oreille sur les réseaux sociaux !</h2>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col d-flex justify-content-center">
			<a href="{{ general.lienFacebook }}" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="{{ general.lienInstagram }}" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
		</div>
	</div>
</div>
