<div class="container-fluid" id="banniere">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <img src="/logos/{{ general.logo3 }}" alt="logoText" class="logoText" data-aos="flip-down" data-aos-duration="2000">
            <p class="phraseTitre">{{ general.phraseTitre }}</p>
            <img src="/logos/{{ general.logo }}" alt="logo" class="logo" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
            <p class="page">{{ page }}</p>
        </div>
	</div>
</div>
