<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
            <img src="/logos/logo2.png" alt="logo" style="width:200px;">
        </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/prestation">Prestations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Actualités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Galerie Photos</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="#">Vos fichiers</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="#">Inscription / Connexion</a>
				</li>
			</ul>
			<div class="reseaux d-flex justify-content-start">
				<a href="{{ general.lienFacebook }}">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="{{ general.lienInstagram }}">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
		</div>
	</div>
</nav>