{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<div class="container" id="check">
		<h1 class="text-center">Envoi d'un email</h1>

		<div class="row justify-content-center">
			<div class="col-md-6">
				<p>Un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p>Si vous n'avez pas reçu d'email, vérifier vos spams ou
					<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
			</div>
		</div>

	</div>

{% endblock %}
