{% extends '@EasyAdmin/layout.html.twig' %}
{% block title %}La Belle Oreille | Administration
{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Bienvenue dans l'interface d'administration de La Belle Oreille !</p>

        <h2>Fonctionnement global</h2>
        <h4>Dans chaque section :</h4>
        <ul>
            <li>Pour ajouter un élément, cliquer sur le bouton bleu "Add ..." en haut à droite.</li>
            <li>Pour éditer un élément, cliquer sur "Edit" au bout de la ligne le concernant.</li>
            <li>Pour supprimer un élément, cliquer sur "Delete" au bout de la ligne le concernant.</li>
        </ul>
        <h4>L'éditeur de texte</h4>
        <img src="backgrounds/editeur.png" class="img-thumbnail" alt="Éditeur de texte">
        <p>Les boutons, de gauche à droite :</p>
        <ul>
            <li><img src="backgrounds/editeur_bouton1.png" alt="bouton B"> permet de passer le texte sélectionné en gras.</li>
            <li><img src="backgrounds/editeur_bouton2.png" alt="bouton I"> permet de passer le texte sélectionné en italique.</li>
            <li><img src="backgrounds/editeur_bouton3.png" alt="bouton S barré"> permet de barrer le texte sélectionné.</li>
            <li><img src="backgrounds/editeur_bouton4.png" alt="bouton Chaine"> permet d'insérer un lien.</li>
        </ul>
        <ul>
            <li><img src="backgrounds/editeur_bouton5.png" alt="bouton"> permet de changer le texte sélectionné en titre et inversement.</li>
            <li><img src="backgrounds/editeur_bouton6.png" alt="bouton"> permet d'insérer des guillemets.</li>
            <li><img src="backgrounds/editeur_bouton7.png" alt="bouton"> permet d'insérer du code.</li>
            <li><img src="backgrounds/editeur_bouton8.png" alt="bouton"> permet d'insérer une liste à puces.</li>
            <li><img src="backgrounds/editeur_bouton9.png" alt="bouton"> permet d'insérer une liste numérotée.</li>
            <li><img src="backgrounds/editeur_bouton10.png" alt="bouton"> permet d'ajouter une liste dans une liste.</li>
            <li><img src="backgrounds/editeur_bouton11.png" alt="bouton"> permet de revenir dans la liste normale.</li>
        </ul>

        <ul>
            <li><img src="backgrounds/editeur_bouton12.png" alt="bouton B"> permet de supprimer la dernière action effectuée.</li>
            <li><img src="backgrounds/editeur_bouton13.png" alt="bouton I"> permet de faire revenir la dernière action supprimée.</li>
        </ul>
		
		<h2><i class="fas fa-list"></i> Général</h2>
		<p>Pour modifier les données "générales"".</p>
		<ul>
			<li>Phrase d'accueil</li>
			<li>Citation</li>
			<li>Description</li>
			<li>Liens Facebook / Instagram</li>
			<li>Propriétaire</li>
            <li>Photo</li>
            <li>Image bannière titre</li>
            <li>Image bannière actualités</li>
		</ul>
        <p>Une seule ligne est utilisée sur le site. En ajouter une autre avec le bouton "Add General" ne posera pas de problèmes, mais ne servira à rien.</p>

        <h2><i class="fas fa-newspaper"></i> Prestations</h2>
        <p>Pour voir, créer et éditer les prestations.</p>

        <h2><i class="fas fa-list"></i> Catégories</h2>
        <p>Pour voir, créer et éditer les catégories de prestations.</p>

        <h2><i class="fas fa-music"></i> Audios</h2>
        <p>Pour voir, créer et éditer tous les fichiers audio.</p>
        <p>Cela concerne les fichiers des prestations, ceux envoyés par les utilisateurs et ceux envoyés par l'administrateur.</p>

        <h2><i class="fas fa-newspaper"></i> Actualités</h2>
        <p>Pour voir, créer et éditer les actualités.</p>

        <h2><i class="fas fa-camera-retro"></i> Photos</h2>
        <p>Pour voir, créer et éditer les photos que l'on retrouve dans la Galerie Photos.</p>

        <h2><i class="fas fa-users"></i> Utilisateurs</h2>
        <p>Pour voir la liste des utilisateurs.</p>

	</div>

{% endblock %}
