{% extends 'base.html.twig' %}

{% block title %}New Adresse
{% endblock %}

{% block body %}

	<div class="container adresse">
		<h1>Create new Adresse</h1>

		{{ include('adresse/_form.html.twig') }}

		<a href="{{ path('account') }}" class="btn btn-primary">back to account</a>
	</div>

{% endblock %}
