#actus {
    padding-top: 120px;
    padding-bottom: 80px;

    .date {
        margin: 0;
        margin-bottom: 10px;
    }
    
    .lienImage {
        height: 150px; 
        overflow: hidden;
    }
}

#showActu {
    padding-top: 120px;
    padding-bottom: 80px;

    .date {
        margin: 0;
        margin-bottom: 10px;
    }
    
    .lienImage {
        height: 150px; 
        overflow: hidden;
    }
}

