#banniere {
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 40px;
    color: #fff;

    .logoText {
        border-radius: 50%;
        margin-top: 60px;
        // max-width: 500px;
    }

    .phraseTitre {
        color: #fff;
        font-size: 1.5rem;
    }

    .logo {
        position: absolute;
        bottom: -60px;
    }

    .page {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }

    @media screen and (max-width: 992px) {
        height: 100vh;

        .logoText {
            margin-top: 180px;
        }
    }

}