<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
	<h5>{{ general.proprietaire }}</h5>
	<p>{{ general.telephone }}</p>
	<p>{{ general.email }}</p>
	<p>{{ general.ville }}</p>
</div>
