{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille | Contact
{% endblock %}

{% block body %}
	<div class="container" id="contact">
		<div class="row d-flex justify-content-center">
		<h1 class="text-center">Contactez-moi !</h1>
			{% include 'contact/coordonnees.html.twig' %}
			{% include 'contact/formulaire.html.twig' %}
		</div>
	</div>
{% endblock %}
