<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/29ef46100e.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% include 'base/banniere.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'base/footer.html.twig' %}
    </body>
</html>
