{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille | CGU{% endblock %}

{% block body %}
<div class="container" id="cgu">
    <h1 class="text-center">{{ page }}</h1>

    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repudiandae placeat reprehenderit, qui rerum, expedita illo maxime, vero harum fugiat est. Eum vero nobis dignissimos deleniti ea quae earum itaque.
    Nemo hic autem dolore, vitae eum minus asperiores quis excepturi blanditiis dicta commodi mollitia eius voluptatibus soluta laboriosam eos id. Delectus magni aliquid consequuntur doloremque atque sit veritatis eum officiis!
    Eaque debitis sit numquam, quaerat dolorum iusto aspernatur ducimus adipisci aperiam veritatis neque reprehenderit cumque facere hic in recusandae laborum. Dignissimos neque cupiditate maiores quia dolorem rerum fugit eum minima?
    A doloribus nam voluptate iure laudantium excepturi, aliquam consequuntur? Ex dignissimos unde reiciendis dolorem. Repellat molestiae ullam quasi aut recusandae minus labore mollitia officia porro ratione, enim non placeat quod.
    Temporibus voluptatum rerum saepe tenetur tempora, qui quisquam? Delectus similique culpa fugiat ex? Quas rem, tempore dolorem voluptatibus fuga laudantium blanditiis! Ullam natus saepe sapiente maiores consequatur aspernatur quibusdam labore.
    Dolores nihil unde ad beatae porro. Eveniet provident nemo, quo voluptates pariatur odit repudiandae ducimus facere quod officiis ullam, accusantium delectus quis laborum iste assumenda laudantium voluptatem cupiditate ipsam deserunt!
    Laborum aliquam dolorem reiciendis odit cupiditate! Aperiam, odit. Distinctio officiis sint quae sapiente at. Inventore saepe doloribus illo voluptas eos, dicta ipsa rerum, similique magni explicabo quo fugit quidem. Ut.
    Quod, eveniet. Velit dolores quaerat molestiae error eveniet reiciendis nostrum impedit maxime. Voluptatibus repellendus adipisci numquam nesciunt quae officia soluta, vitae amet expedita veritatis dolores cupiditate provident explicabo blanditiis error.
    Numquam possimus aperiam beatae, molestias voluptates amet cupiditate blanditiis quis eos ipsum pariatur iure laborum temporibus aspernatur odit dignissimos voluptatum minima doloremque assumenda vel nulla! Atque similique quia nam ipsa!
    Ad a alias fuga architecto obcaecati assumenda doloribus nemo veritatis! Beatae, ullam placeat ex, nihil architecto, repellendus aut esse magnam a quae consequuntur? Tempore totam, itaque quaerat illum saepe nesciunt.
    Sapiente tempora aperiam explicabo ratione, repudiandae quidem fuga, ea unde libero, dignissimos molestiae velit distinctio odio eius? Maxime vero incidunt et, delectus saepe consequuntur, cumque, iure facere id in totam?
    Eos sit omnis reprehenderit iure maxime hic provident ea, ab quibusdam velit aut illo, cupiditate iste saepe harum? Rem atque, nesciunt maiores iure odio repellat magni reprehenderit unde nulla quo.
    Adipisci incidunt distinctio harum? Ab quis maiores voluptatum rem reiciendis blanditiis deleniti sed nostrum animi quo aut quia similique quisquam officiis quae error ea labore incidunt, architecto quaerat consectetur doloribus.
    Repellendus ipsam tempore beatae minus, animi labore eaque nemo libero! Dolorum laudantium corporis unde similique exercitationem doloremque quas rem dolore, perferendis maxime ullam ex vitae ut nihil blanditiis quisquam consequatur.
    Inventore, corporis pariatur. Sed placeat quam commodi, saepe minus, eos eligendi fugiat libero provident alias delectus ex pariatur nemo similique? Minus corrupti omnis impedit recusandae culpa sapiente voluptatibus sint reiciendis?
    Sunt, hic nesciunt deleniti itaque, ipsum error quis perferendis facere maiores reprehenderit harum nam consequuntur minus molestiae voluptatem tempora cum mollitia odit voluptates voluptate a. Delectus voluptates maiores consequuntur asperiores!
    Ipsam, repudiandae. Perferendis earum id provident ullam corporis iusto eum mollitia soluta, ab asperiores facere nisi aliquam corrupti ut natus? Sed maiores labore odio assumenda, fugit quibusdam tempora fuga. Dolore?
    Esse, doloremque nesciunt distinctio ducimus eius odio enim ipsa amet modi consectetur dolore necessitatibus aliquid reprehenderit aut, pariatur perspiciatis assumenda repellendus, eaque sequi ipsum ad consequatur eum! Illo, totam debitis!
    Labore non eius omnis ducimus aliquam! Alias harum ex est tempore. Voluptates neque aperiam, quos tempore ipsam quam magnam reiciendis animi laudantium eos dolorem quasi veniam, quis blanditiis iste natus.
    Sunt saepe, eligendi, sapiente voluptatem consequuntur ea dolore, fugit animi harum ut odit. Corrupti saepe ipsam architecto nemo consequuntur deserunt tenetur enim delectus sint! Sunt assumenda ipsam eos nesciunt vel!</p>
</div>
{% endblock %}
